.column {
  padding: 20px 0;
}

.column__item {
  width: 97%;
  background: var(--color-theme1);
  border-radius: 10px;
  padding: 12px 12px 7px 12px;
}

.tasks {
  width: 100%;
  margin: 8px 0;
  padding: 0 .3vw;
  max-height: calc(100vh - 2 * var(--header-footer-height) - 50px - 28vh);;
  overflow: auto;
}

.column__title,
.task__title,
.button,
.input,
.select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.task,
.input,
.select {
  margin: 7px 0;
  background: var(--color-light);
  border-radius: 3px;
  padding: 7px;
}

.task {
  will-change: transform;
  overflow: auto;
}

.input,
.select {
  margin-top: 0px;
  width: 100%;
  border: none;
}

.button {
  border: 1px solid var(--color-theme1);
  border-radius: 5px;
  color: var(--color-theme3);
  background: var(--color-theme1);
  margin-top: 10px;
  padding: 3px;
  transition: all .3s;
}

.buttonSubmit {
  border: 1px solid var(--color-theme1);
  color: var(--color-light);
  background: var(--color-main-dark);
  padding: 3px 15px;
}

.buttonSubmit:hover {
  color: var(--color-dark);
  background: var(--color-light);
}

.task,
.button {
  transition: all .5s;
}

.button:hover,
.task:hover {
  cursor: pointer;
}

.task:hover {
  transform: scale(1.03);
}

.button:hover {
  background: var(--color-light);
}

.button:disabled {
  opacity: .7;
  cursor: auto;
  background: var(--color-theme1);
}

.tasks::-webkit-scrollbar {
  width: 12px;
}

.task::-webkit-scrollbar {
  height: 10px;
}

.tasks::-webkit-scrollbar-track,
.task::-webkit-scrollbar-track {
  background: var(--color-light);
}

.tasks::-webkit-scrollbar-thumb,
.task::-webkit-scrollbar-thumb {
  background-color: var(--color-theme2);  
  border-radius: 60px;
}