.header {
  grid-area: header;
  height: var(--header-footer-height);
  background: var(--color-main-dark);
}

.header__title {
  font-size: 28px;
  line-height: 55px;
  font-weight: 100;
  color: var(--color-light);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .header__title {
    font-size: 26px;
  }
}

@media (max-width: 550px) {
  .header {
    height: 100px;
    background: var(--color-main-light);
  }
  .header__title {
    color: var(--color-main-light);
    font-size: 10px;
  }
}