.header {
  grid-area: header;
  height: var(--header-footer-height);
  background: var(--color-main-dark);
}

.header__title {
  font-size: 28px;
  line-height: 55px;
  font-weight: 100;
  color: var(--color-light);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
