.footer {
  grid-area: footer;
  flex-direction: row;
  background: #0067A3;
  height: var(--header-footer-height);

  color: var(--color-light);
  font-size: 18px;
  line-height: 21px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-footer-height);
}

.footer__result {
  display: flex;
  justify-content: space-between;
  width: 285px;
}

.footer__info {
  width: 345px;
}

@media (max-width: 700px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__info {
    width: auto;
  }
  .footer__wrapper {
    padding: 5px 0;
  }
}

@media (max-width: 550px) {
  .footer {
    height: 100px;
    background: var(--color-main-light);
  }
  .footer__wrapper {
    display: none;
    font-size: 15px;
  }
}