@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
	scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  background-color: var(--color-dark);
  color:var(--color-light);
}
