@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-main-dark: #0067A3;
  --color-main-light: #0079BF;
  --color-light: #FFFFFF;
  --color-theme1: #EBECF0;
  --color-theme2: #CBCBCB;
  --color-theme3: #5E6C84;

  --header-footer-height: 55px;
}

html {
	scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}
